In [174]:
# Dependencies and Setup
import pandas as pd
import os

In [175]:
# Create variables with the paths
school_data_path = os.path.join("Resources", "schools.csv")
student_data_path = os.path.join("Resources", "students.csv")

In [176]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_path)
student_data_df = pd.read_csv(student_data_path)

In [177]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
df=school_data_complete_df

In [178]:
#Clean Data

#Identify incomplete rows
school_data_complete_df.count()
#There do not appear to be any incomplete rows

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [180]:
#All rows appear to be relevant
#Check data types
school_data_complete_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [187]:
#Calculate the total number of schools in the district
total_number_of_schools=len(school_data_complete_df["school_name"].unique())

In [188]:
#Calculate the total number of students in the district
total_number_of_students=school_data_complete_df["student_name"].count()

In [189]:
#Calculate the total budget of the district
unique_budgets=school_data_complete_df["budget"].unique()
total_budget=unique_budgets.sum()

In [190]:
#Calculate the average math score in the district
average_math_score=school_data_complete_df["math_score"].mean()

In [191]:
#Calculate the average reading score in the district
average_reading_score=school_data_complete_df["reading_score"].mean()

In [192]:
#Calculate the percentage of students in the district passing math (score of 70 or higher)
number_passing_math=school_data_complete_df["math_score"]>=70
percent_passing_math=number_passing_math.sum()/total_number_of_students

In [193]:
#Calculate the percentage of students in the district passing reading (score of 70 or higher)
number_passing_reading=school_data_complete_df["reading_score"]>=70
percent_passing_reading=number_passing_reading.sum()/total_number_of_students

In [194]:
#Calculate the percentage of students passing both math and reading
reading_and_math_df = school_data_complete_df[["reading_score", "math_score"]]
criteria_1=reading_and_math_df["reading_score"]>=70
criteria_2=reading_and_math_df["math_score"]>=70
all_criteria=criteria_1 & criteria_2
number_passing_math_and_reading=all_criteria.sum()/total_number_of_students

In [210]:
#Create a dataframe to hold the above results
district_summary_df=pd.DataFrame({"Total Schools":[total_number_of_schools], "Total Students":[total_number_of_students],
                                  "Total Budget":[total_budget], "Average Math Score":[average_math_score], "Average Reading Score":[average_reading_score],
                                 "Percent Passing Math":[percent_passing_math],"Percent Passing Reading":[percent_passing_reading], "Overall Passing Percentage":[number_passing_math_and_reading]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Percentage
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

In [195]:
#create an overview table that summarizes key metrics about each school

#edit the school_data_complete_df dataframe so it is grouped by "school name"
grouped_by_school_group=school_data_complete_df.groupby(["school_name"])

In [196]:
#determine the type of each school
types=grouped_by_school_group["type"].unique()

In [110]:
school_types=school_data_complete_df.set_index(["school_name"])["type"]

In [111]:
#determine the total students at each school
students_per_school=grouped_by_school_group["student_name"].count()

In [198]:
#determine each school's budget
budget_by_school=pd.DataFrame(grouped_by_school_group["budget"].unique())
budget_by_school_int=budget_by_school["budget"].astype("int64")

In [199]:
#determine each school's budget per student
per_student_budget=budget_by_school_int/students_per_school

In [200]:
#Calculate the average math score by school
average_math_score_by_school=grouped_by_school_group["math_score"].mean()

In [115]:
#Calculate the average reading score by school
average_reading_score_grouped_by_school=grouped_by_school_group["reading_score"].mean()

In [203]:
#Calculate the percentage of students passing math per school
passing_math_scores_by_district=school_data_complete_df.loc[school_data_complete_df["math_score"]>=70, :]
passing_math_scores_by_school_groupby=passing_math_scores_by_district.groupby(["school_name"])
number_of_students_passing_math_per_school=passing_math_scores_by_school_groupby["math_score"].count()
percent_of_students_passing_math_per_school=number_of_students_passing_math_per_school/students_per_school

In [204]:
#Calculate the percentage of students passing reading per school
passing_reading_scores_by_district=school_data_complete_df.loc[school_data_complete_df["reading_score"]>=70, :]
passing_reading_scores_by_school_groupby=passing_reading_scores_by_district.groupby(["school_name"])
number_of_students_passing_reading_per_school=passing_reading_scores_by_school_groupby["reading_score"].count()
percent_of_students_passing_reading_per_school=number_of_students_passing_reading_per_school/students_per_school

In [206]:
#Calculate the percentage of students passing math and reading per school
math_and_reading_scores_df= school_data_complete_df[["school_name","math_score","reading_score", "Student ID"]]
math_scores_df=school_data_complete_df[["school_name","math_score"]]
reading_scores_df=school_data_complete_df[["school_name", "math_score"]]
number_of_students_passing_both_district_level=math_and_reading_scores_df.loc[(
math_and_reading_scores_df["math_score"]>=70) & (math_and_reading_scores_df["reading_score"]>=70),
["school_name","Student ID"]]
number_of_students_passing_both_subjects_by_school_groupby=number_of_students_passing_both_district_level.groupby(["school_name"]).count()
number_of_students_passing_both_subjects_by_school_groupby_number=number_of_students_passing_both_subjects_by_school_groupby["Student ID"]
percent_of_students_passing_both_subjects_by_school=number_of_students_passing_both_subjects_by_school_groupby_number/students_per_school

In [155]:
#Create a dataframe to hold the above results
school_summary_df=pd.DataFrame({"School Type":types, "Total Students":students_per_school, "Total School Budget":budget_by_school_int, "Per Student Budget":per_student_budget, "Average Math Score":average_math_score_by_school,
                               "Average Reading Score":average_reading_score_grouped_by_school, "% Passing Math":percent_of_students_passing_math_per_school,
                               "% Passing Reading":percent_of_students_passing_reading_per_school, "% Overall Passing":percent_of_students_passing_both_subjects_by_school})
school_summary_df["School Type"]=school_summary_df["School Type"].str.get(0)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

In [156]:
#Sort and display the top five performing schools by % overall passing
overall_percent_passing_df = school_summary_df.sort_values("% Overall Passing", ascending=False)
overall_percent_passing_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

In [211]:
#Sort and display the five worst performing schools by % overall passing
overall_percent_passing_df = school_summary_df.sort_values("% Overall Passing")
overall_percent_passing_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

In [158]:
#Create a table that lists the average reading score for students of each grade level at each school
math_and_grade_df=pd.DataFrame(df[["school_name", "grade", "math_score"]])
ninth_grade_math_scores=math_and_grade_df.loc[math_and_grade_df["grade"]=="9th",:]
tenth_grade_math_scores=math_and_grade_df.loc[math_and_grade_df["grade"]=="10th",:]
eleventh_grade_math_scores=math_and_grade_df.loc[math_and_grade_df["grade"]=="11th",:]
twelfth_grade_math_scores=math_and_grade_df.loc[math_and_grade_df["grade"]=="12th",:]
ninth_grade_math_scores_average=ninth_grade_math_scores.groupby(["school_name"])
ninth_grade_math_results=ninth_grade_math_scores_average["math_score"].mean()
tenth_grade_math_scores_average=tenth_grade_math_scores.groupby(["school_name"])
tenth_grade_math_results=tenth_grade_math_scores_average["math_score"].mean()
eleventh_grade_math_scores_average=eleventh_grade_math_scores.groupby(["school_name"])
eleventh_grade_math_results=eleventh_grade_math_scores_average["math_score"].mean()
twelfth_grade_math_scores_average=twelfth_grade_math_scores.groupby(["school_name"])
twelfth_grade_math_results=twelfth_grade_math_scores_average["math_score"].mean()
average_math_scores_by_grade_df=pd.DataFrame({"Average Math Scores for Ninth Grade":ninth_grade_math_results,"Average Scores for Tenth Grade":tenth_grade_math_results
                                             ,"Average Math Scores for Eleventh Grade":eleventh_grade_math_results, "Average Math Scores for Twelfth Grade":twelfth_grade_math_results})
average_math_scores_by_grade_df

,Average Math Scores for Ninth Grade,Average Scores for Tenth Grade,Average Math Scores for Eleventh Grade,Average Math Scores for Twelfth Grade
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [212]:
##Create a table that lists the average math score for students of each grade level at each school
reading_and_grade_df=pd.DataFrame(df[["school_name", "grade", "reading_score"]])
ninth_grade_reading_scores=reading_and_grade_df.loc[reading_and_grade_df["grade"]=="9th",:]
tenth_grade_reading_scores=reading_and_grade_df.loc[reading_and_grade_df["grade"]=="10th",:]
eleventh_grade_reading_scores=reading_and_grade_df.loc[reading_and_grade_df["grade"]=="11th",:]
twelfth_grade_reading_scores=reading_and_grade_df.loc[reading_and_grade_df["grade"]=="12th",:]
ninth_grade_reading_scores_average=ninth_grade_reading_scores.groupby(["school_name"])
ninth_grade_reading_results=ninth_grade_reading_scores_average["reading_score"].mean()
tenth_grade_reading_scores_average=tenth_grade_reading_scores.groupby(["school_name"])
tenth_grade_reading_results=tenth_grade_reading_scores_average["reading_score"].mean()
eleventh_grade_reading_scores_average=eleventh_grade_reading_scores.groupby(["school_name"])
eleventh_grade_reading_results=eleventh_grade_reading_scores_average["reading_score"].mean()
twelfth_grade_reading_scores_average=twelfth_grade_reading_scores.groupby(["school_name"])
twelfth_grade_reading_results=twelfth_grade_reading_scores_average["reading_score"].mean()
average_reading_scores_by_grade_df=pd.DataFrame({"Average Reading Scores for Ninth Grade":ninth_grade_reading_results,"Average Scores for Tenth Grade":tenth_grade_reading_results
                                             ,"Average Math Scores for Eleventh Grade":eleventh_grade_reading_results, "Average Math Scores for Twelfth Grade":twelfth_grade_reading_results})
average_reading_scores_by_grade_df

,Average Reading Scores for Ninth Grade,Average Scores for Tenth Grade,Average Math Scores for Eleventh Grade,Average Math Scores for Twelfth Grade
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [160]:
#Create a table that breaks down school performance based on average spending per student
# Create the bins in which Data will be held
  
bins = [0, 585, 630, 645, 680]

# Create the names for the five bins
group_names = ["<585", "585-630", "630-645", "645-680"]
overall_percent_passing_df["Scores by Per Student School Spending"] = pd.cut(overall_percent_passing_df["Per Student Budget"], bins, labels=group_names, include_lowest=True)
groupedby_school_spending = overall_percent_passing_df.groupby("Scores by Per Student School Spending")
groupedby_school_spending_df=pd.DataFrame(groupedby_school_spending.mean())
scores_by_school_spending_df=groupedby_school_spending_df.drop(["Total Students", "Total School Budget", "Per Student Budget"], axis=1)
scores_by_school_spending_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Scores by Per Student School Spending,,,,,
<585,83.455399,83.933814,0.934601,0.966109,0.903695
585-630,81.899826,83.155286,0.871335,0.927182,0.814186
630-645,78.518855,81.624473,0.734842,0.843918,0.628577
645-680,76.997210,81.027843,0.661648,0.811340,0.535269

In [213]:
#Create a table taht breaks down school performance based on the size of the school
# Create the bins in which Data will be held
  
bins = [0, 1000, 2000, 5000]

# Create the names for the five bins
bin_names = ["'Small': <1000", "'Medium': 1000-2000", "'Large': 2000-5000"]
overall_percent_passing_df["Scores by School Size"] = pd.cut(overall_percent_passing_df["Total Students"], bins, labels=bin_names, include_lowest=True)
overall_percent_passing_df
groupedby_school_size = overall_percent_passing_df.groupby("Scores by School Size").mean()
groupedby_school_size
groupedby_school_size_df=pd.DataFrame(groupedby_school_size)
groupedby_school_size_df
scores_by_school_size_df=groupedby_school_size_df.drop(["Total Students","Total School Budget","Per Student Budget"], axis=1)
scores_by_school_size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Scores by School Size,,,,,
'Small': <1000,83.821598,83.929843,0.935502,0.960994,0.898839
'Medium': 1000-2000,83.374684,83.864438,0.935997,0.967907,0.906215
'Large': 2000-5000,77.746417,81.344493,0.699634,0.827666,0.582860

In [216]:
#Create a table that breaks down school performance based on whether the school is a charter school or a district school
groupedby_school_type=overall_percent_passing_df.groupby("School Type").mean()
groupedby_school_type_df=pd.DataFrame(groupedby_school_type)
groupedby_school_type_df
groupedby_school_type_df=groupedby_school_type_df.drop(["Total Students","Total School Budget","Per Student Budget"], axis=1)
groupedby_school_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.904322
District,76.956733,80.966636,0.665485,0.807991,0.536722

In [218]:
#output data to excel file for analysis
school_summary_df.to_excel("output.xlsx")